Lab/Connected Services/LabServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LabService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LabService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Lab/LabService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:8000/Lab/LabService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPost" nillable="true" type="tns:CPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPost" nillable="true" type="tns:ArrayOfCPost" />
  <xs:complexType name="CPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCComment" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Likes" nillable="true" type="tns:ArrayOfCUser" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:CUser" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Picture" nillable="true" type="q1:Bitmap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPost" nillable="true" type="tns:CPost" />
  <xs:complexType name="ArrayOfCComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CComment" nillable="true" type="tns:CComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCComment" nillable="true" type="tns:ArrayOfCComment" />
  <xs:complexType name="CComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:CUser" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CComment" nillable="true" type="tns:CComment" />
  <xs:complexType name="CUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="UserPicture" nillable="true" type="q2:Bitmap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CUser" nillable="true" type="tns:CUser" />
  <xs:complexType name="ArrayOfCUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CUser" nillable="true" type="tns:CUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCUser" nillable="true" type="tns:ArrayOfCUser" />
  <xs:complexType name="ArrayOfCProcessingTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CProcessingTemplate" nillable="true" type="tns:CProcessingTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCProcessingTemplate" nillable="true" type="tns:ArrayOfCProcessingTemplate" />
  <xs:complexType name="CProcessingTemplate">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Example" nillable="true" type="q3:Bitmap" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CProcessingTemplate" nillable="true" type="tns:CProcessingTemplate" />
</xs:schema>